body {
  background-color: #1f2421;
}

#show-form-btn {
  margin: auto;
}

.container {
  position: relative;
  width: 60%;
  margin: auto;
  justify-content: space-around;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 60px;
  font-family: "Mukta", sans-serif;
  color: #e8ebe4;
}

input[type="text"] {
  width: 350px;
  height: 50px;
  border: 2px groove #1b2845;
  border-radius: 25px;
  margin: 10px;
  font-size: 20px;
  color: #1b2845;
  font-family: "Lora", serif;
}

button {
  width: 150px;
  height: 55px;
  margin: 10px;
  color: #e8ebe4;
  font-family: "Lora", serif;
  font-weight: bold;
  border: 2px groove #1b2845;
  border-radius: 25px;
  background-color: #1b2845;
  font-size: 20px;
}

ul {
  position: relative;
  width: 100%;
  list-style-type: none;
}

li {
  width: 50em;
  margin-bottom: 20px;
  align-items: baseline;
}

span {
  font-size: 30px;
  font-family: "Lora", serif;
  color: #672a4e;
  width: 300px;
  margin-left: auto;
  margin-right: 2em;
}

input[type="date"] {
  width: 150px;
  height: 55px;
  margin: 10px;
  color: #e8ebe4;
  font-family: "Lora", serif;
  font-weight: bold;
  border: 2px groove #1b2845;
  border-radius: 25px;
  background-color: #1b2845;
  font-size: 20px;
}

#deadline:hover {
  background-color: #a30b37;
  color: #e8ebe4;
}

#select {
  width: 150px;
  height: 55px;
  margin: 10px;
  color: #e8ebe4;
  font-family: "Lora", serif;
  font-weight: bold;
  border: 2px groove #1b2845;
  border-radius: 25px;
  background-color: #1b2845;
  font-size: 20px;
}

button:hover {
  background-color: #a30b37;
  color: #e8ebe4;
}

#select:hover {
  background-color: #a30b37;
  color: #e8ebe4;
}
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  margin-left: 0.8em;
  color: #e8ebe4;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
  font-size: 1.1em;
  margin: 0.3em;
  margin-left: 0.8em;
  color: #e8ebe4;
}

.in-progress {
  background-color: red;
}

.not-started {
  background-color: blue;
}

.done {
  background-color: green;
}

#examples {
  display: flex;
  align-items: center;
  width: 40em;
  margin: auto;
}

#examples li {
  margin: 2em;
  width: 10em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  padding: 1em;
  border-radius: 15px;
  color: antiquewhite;
}
